* {
  margin: 0;
  border: 0;
  text-align: center;
}

.cibus-food-app {
  background-color: #b5bec6;
}

.banner {
  padding: 10px 0;
}

.content {
  background-color: #364652;
  min-height: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.recipe-list {
  padding-top: 20px;
}

.recipe-list-content {
  background-color: #bfb1c1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 15px;
}
.recipe-list-title {
  padding-bottom: 20px;
}

.recipe-container {
  height: 100%;
  margin: 5px 10px;
}

/* pad styles */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .recipe-list-content {
    width: 70%;
  }

  .recipe {
    width: 50%;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .recipe-list-content {
    width: 60%;
  }
  .recipe-list-align {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .recipe {
    width: 60%;
  }
}
