* {
  margin: 0;
  border: 0;
  text-align: center;
}

.cibus-food-app {
  background-color: #b5bec6;
}

.banner {
  padding: 10px 0;
}

.content {
  background-color: #364652;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-list {
  padding-top: 20px;
}

.recipe-list-content {
  background-color: #bfb1c1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 15px;
}
.recipe-list-title {
  padding-bottom: 20px;
}

.recipe-container {
  height: 100%;
}

.recipe {
  background-color: #c7dbe6;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: #282c34;
  padding: 10px;
  border-radius: 15px;
  filter: drop-shadow(10px 5px 4px rgb(70, 69, 69));
}

.recipe-title {
  color: #30383d;
}

.recipe-preview {
  display: grid;
  grid-template-columns: 80% 1fr;
}

.recipe-preview-info div {
  text-align: left;
}

.recipe-preview-pic {
  width: 40px;
  height: 40px;
  background-color: rgb(84, 90, 90);
}

/* pad styles */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .recipe-list-content {
    width: 70%;
  }

  .recipe {
    width: 50%;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .recipe-list-content {
    width: 60%;
  }
  .recipe-list-align {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .recipe {
    width: 60%;
  }
}
